/* 선택자 우선 순위: 전체 < 요소 < class, id, 속성 */
/* 전체 선택자 */
* {
  color: orange;
}

/* 요소 선택자 */
/* Cascade: 스타일을 모두 적용하여 겹치는 현상 -> 가장 마지막에 적용된 스타일이 보임 */
p {
  color: blue;
}

/*class 선택자 */
/* class 속성은 여러 번 사용 가능 */
.likelion {
  color: green;
}

/* id 선택자 */
#techit {
  color: red;
}

/* 속성 선택자 */
[title] {
  color: pink;
}
