@import "./../../common/base.css";
@import "./../../common/a11y.css";

body {
  margin: 50px;
}

/* 모든 요소에 base.css의 폰트 적용 */
input,
button,
textarea,
select {
  font: inherit;
}

/* 로고 컴포넌트 */
.brand {
  margin: 0;
  font-size: 1em;
  font-weight: 400;

  a,
  svg {
    /* 링크와 이미지를 block요소로 설정 */
    display: block;
  }
}

/* 검색 버튼 컴포넌트 */
.button--icon-circle {
  /* 버튼의 모든 기본 스타일링 제거 */
  /* all: unset; */
  border: 0;
  padding: 0;
  background-color: transparent;

  /* 버튼 이미지 block요소로 설정 */
  svg {
    display: block;
  }
}

/* input(search) 컴포넌트 */
.search {
  --placeholder-text-color: #ccc;
  --text-color: #121212;

  .search__input {
    inline-size: 100%;
    border: 0;
    block-size: 1.25rem;
    padding: 0.125rem 0.25rem;

    &::placeholder {
      color: var(--placeholder-text-color);
    }
  }
}

/* 전체 검색바 컴포넌트 */
.search-bar {
  --container-size: 285px;
  --green: #03cc5c;
  --border-color: var(--green);

  border: 1px solid var(--border-color);
  border-radius: 50px;
  padding: 12px 12px 12px 20px;
  /* 최소 너비 */
  min-inline-size: var(--container-size);

  display: flex;
  /* row 방향으로 줄바꿈 없음 */
  flex-flow: row nowrap;
  /* 내부 요소 중앙 배치 */
  align-items: center;
  gap: 12px;

  /* &:has(input:focus) {
    box-shadow: 0px 4px 4px 0px rgba(68, 131, 63, 0.15);
  } */
  /* 안에 초점이 있을 때 무조건 적용 */
  &:focus-within {
    box-shadow: 0px 4px 4px 0px rgba(68, 131, 63, 0.15);
  }

  .brand {
    /* 이 영역이 화면 크기가 늘어날 때 크기 유지 */
    flex: 0 0 auto;
  }

  .search-form {
    /* display: flex;
    flex-flow: row nowrap; */
    /* 화면 크기가 늘어남에 따라 영역이 같이 증가 */
    /* flex: 1; */
    /* align-items: center;
    gap: 16px; */

    /* form의 직계 자식을 전체의 자식으로써 사용할 수 있도록 함 -> flex 안에 flex 안에 flex.. 상위 부모 태그에 모두 flex를 주지 않아도 자식 요소에 flex를 적용시키도록 할 수 있음 */
    display: contents;

    .search {
      flex: 1;
    }

    button {
      flex: 0 0 auto;
    }
  }
}
